<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyLadies Translator</title>
    <link rel="stylesheet" type="text/css" href="{{styles}}">
    <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    <script src="/static/js/traductor.js"></script>
</head>
<body>
    <!-- 
        Author: Mick & Lib
     -->
     <header>
         <img src="/static/images/logo.png"/>
         <h3>PyLadies Translator</h3>
     </header>
    <main>
        <div>
            <textarea id="spanish"></textarea>
        </div>
        <div>
            <textarea id="english"></textarea>
        </div>
    </main>
    <footer>
       <p>&copy; PyLadies 2022</p>
    </footer>
</body>
</html>